{% extends "base.html" %}
{% load replace %}
{% block content %}

<div class="container text-center" style="margin: 20px 0;">
	<h2>Date: {{date}}</h2>
	
	<div class="d-flex spinner" style="right: 50%;bottom: 50%;transform: translate(50%,50%);position: absolute;">
		<div class="spinner-border" id="spinner" style="width: 3rem; height: 3rem;" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
	<span class="data align-middle">
	</span>
	<button type="button" class="btn btn-outline-dark btn-lg">Fetch Data</button>
</div>



{% endblock %}
{% block javascript %}
<script>
	$(document).ready(function () {
		$('#spinner').hide()
		$('button').on('click', function (e) {
			$('#spinner').html('').show()
			$('button').hide()
			$(".data").html('').prepend(``)
			$.ajax({
				type: 'GET',
				url: "{% url 'fetch' %}",
				success: function (response) {
					$('#spinner').hide()
					$('button').html('Fetch again').show()

					$('.data').html('').load(
						"{% url 'display' %}", function (response) {}
					)
				},
				error: function (response) {
					$('#spinner').hide()
					$('button').html('Fetch Data').show()
					$(".data").html('').prepend(`
					<div class="alert alert-danger" role="alert">
						${response['responseJSON']['error']}
					</div>`)
				}
			})

		})
	})
</script>
{% endblock javascript %}